.home{
    width: 100%;
    height: 1000px;
    background-color: $color-gray;
    padding: 2rem;
    &_figure{
        width: 100%;
        height: 300px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_container{
        width:100%;
        height:705px;
        background-color: $color-black;
        border-radius: 15px;
        &_header{
            width: 100%;
            height: 300px;
            border-radius: 15px;
            padding: 0px 2.6rem;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                color: $color-white;
            }
            p{
                color: $color-light-gray;
                text-align: center;
            }
        }
    }

}
